{% load static %}
<section id = "about" class = "py-5">
    <div class = "container">
        <h2 class="center">About Author</h2>
        <div class = "row gy-lg-5 align-items-center">
            <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
                <div class = "title pt-3 pb-5">
                    <h2 class = "position-relative d-inline-block ms-4">Ogunniyi Oluwasegun</h2>
                </div>
                <p class = "lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi exercitationem quae quam eveniet! Minus labore voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla ullam pariatur totam quos.</p>
            </div>
            <div class = "col-lg-6 order-lg-0">
                <img src = "{% static 'images/about_us.jpg' %}" alt = "" class = "img-fluid">
            </div>
        </div>
        <br>
        <div class = "row gy-lg-5 align-items-center">
        <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
            <div class = "title pt-3 pb-5">
                <h2 class = "position-relative d-inline-block ms-4">Adewumi Josephine</h2>
            </div>
            <p class = "lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, ipsam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fuga blanditiis, modi exercitationem quae quam eveniet! Minus labore voluptatibus corporis recusandae accusantium velit, nemo, nobis, nulla ullam pariatur totam quos.</p>
        </div>
        <div class = "col-lg-6 order-lg-0">
            <img src = "{% static 'images/about_us.jpg' %}" alt = "" class = "img-fluid">
        </div>
    </div>
    </div>
</section>