{% load static %}
<section id="about" class="py-5">
    <div class="container">
        <h2 class="text-center">About the Developers</h2>
        <div class="row gy-lg-5 align-items-center mt-5">
            <div class="col-lg-6 order-lg-0">
                <img src="{% static 'images/about1.png' %}" alt="" class="img-fluid rounded w-200">
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">Ogunniyi Oluwasegun</h2>
                </div>
                <p class="lead text-muted">Passionate Software Engineer | Backend and Frontend Developer</p>
                <p>Ogunniyi Oluwasegun is a dedicated and skilled software engineer with a strong background in both backend and frontend development. He played a pivotal role in the successful completion of our final project, an impressive e-commerce website equipped with advanced features such as payment gateways for Paystack and PayPal.</p>
            </div>
            
        </div>
        <br>
        <div class="row gy-lg-5 align-items-center">
            <div class="col-lg-6 order-lg-0">
                <img src="{% static 'images/about2.jpeg' %}" alt="" class="img-fluid rounded w-200">
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">Adewumi Josephine</h2>
                </div>
                <p class="lead text-muted">Enthusiastic Software Engineer | Frontend Developer</p>
                <p>Adewumi Josephine is a passionate frontend developer who collaborated with Ogunniyi Oluwasegun on the e-commerce project. She has a keen eye for design and user experience, which greatly enhanced the aesthetics and usability of our website.</p>
            </div>
            
        </div>
    </div>
</section>

<!-- <section id="about" class="py-5">
    <div class="container">
        <h2 class="center">About the Developers</h2>
        <div class="row gy-lg-5 align-items-center">
            <div class="col-lg-6 order-lg-0">
                <img src="{% static 'images/about1.png' %}" alt="" class="img-fluid w-200">
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">Ogunniyi Oluwasegun</h2>
                </div>
                <p class="lead text-muted">Passionate Software Engineer | Backend and Frontend Developer</p>
                <p>Ogunniyi Oluwasegun is a dedicated and skilled software engineer with a strong background in both backend and frontend development. He played a pivotal role in the successful completion of our final project, an impressive e-commerce website equipped with advanced features such as payment gateways for Paystack and PayPal.</p>
            </div>
            
        </div>
        <br>
        <div class="row gy-lg-5 align-items-center">
            <div class="col-lg-6 order-lg-0">
                <img src="{% static 'images/about2.jpeg' %}" alt="" class="img-fluid w-200">
            </div>
            <div class="col-lg-6 order-lg-1 text-center text-lg-start">
                <div class="title pt-3 pb-5">
                    <h2 class="position-relative d-inline-block ms-4">Adewumi Josephine</h2>
                </div>
                <p class="lead text-muted">Enthusiastic Software Engineer | Frontend Developer</p>
                <p>Adewumi Josephine is a passionate frontend developer who collaborated with Ogunniyi Oluwasegun on the e-commerce project. She has a keen eye for design and user experience, which greatly enhanced the aesthetics and usability of our website.</p>
            </div>
            
        </div>
    </div>
</section> -->
