
<footer class = "bg-dark py-5">
  <div class = "container">
      <div class = "row text-white g-4">
          <div class = "col-md-6 col-lg-3">
              <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">LuxeEssences</a>
              <p class = "text-white text-muted mt-3">At LuxeEssences, we believe that life is meant to be savored and enjoyed to the fullest. That's why we've curated a collection of the finest luxury products to elevate your senses and enhance your everyday experiences. From exquisite fragrances to opulent accessories, we're here to add a touch of sophistication and elegance to your lifestyle.</p>
          </div>

          <div class = "col-md-6 col-lg-3">
              <h5 class = "fw-light">Links</h5>
              <ul class = "list-unstyled">
                  <li class = "my-3">
                      <a href="{% url 'home' %}" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Home
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href="{% url 'collections' %}" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Collection
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href="{% url 'loginpage' %}" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Login
                      </a>
                  </li>
                  <li class = "my-3">
                      <a href="{% url 'register' %}" class = "text-white text-decoration-none text-muted">
                          <i class = "fas fa-chevron-right me-1"></i> Register
                      </a>
                  </li>
              </ul>
          </div>

          <div class = "col-md-6 col-lg-3">
              <h5 class = "fw-light mb-3">Contact Us</h5>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-map-marked-alt"></i>
                  </span>
                  <span class = "fw-light">
                    LuxeEssences Avenue
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-envelope"></i>
                  </span>
                  <span class = "fw-light">
                    luxeessences@yahoo.com
                  </span>
              </div>
              <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                  <span class = "me-3">
                      <i class = "fas fa-phone-alt"></i>
                  </span>
                  <span class = "fw-light">
                      +234 906 979 1813
                  </span>
              </div>
          </div>

          <div class = "col-md-6 col-lg-3">
              <h5 class = "fw-light mb-3">Follow Us</h5>
              <div>
                  <ul class = "list-unstyled d-flex">
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-facebook-f"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "https://twitter.com/AdebayoOgunniy3" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-instagram"></i>
                          </a>
                      </li>
                      <li>
                          <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                              <i class = "fab fa-pinterest"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>