{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-dark md-3">
  <div class="container">
    <a class="text-white" href="{% url "home" %}">Home /</a>
    <a class="text-white" href="{% url "collections" %}">Collections</a>
  </div>
</div>

  <div class="container py-5 mb-3">
    <div class="row">
      <div class="col-md-12">
        <h2>collections</h2>
        <hr>
        <div class="row">
        {% for item in category %}
          <div class="col-md-4">
            <div class="card">
              <a href="{% url "collectionsview" item.slug %}">"
              <div class="card-body">
                <div class="category-image">
                  <img src="{{ item.image.url }}" alt="category image" class="w-100" />
                </div>
                <h4 class="text-center">{{ item.name }}</h4>
              </div>
            </a>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% include "store/inc/footer.html" %}
{% endblock content %}

{% include "store/inc/footer.html" %}