{% load static %}
<section id = "collection" class = "py-5">
  <div class = "container">
      <div class = "title text-center">
          <h2 class = "position-relative d-inline-block">New Collection</h2>
      </div>

      <div class = "row g-0">
          <div class = "d-flex flex-wrap justify-content-center mt-5 filter-button-group">
              <button type = "button" class = "btn m-2 text-dark active-filter-btn" data-filter = "*">All</button>
              <button type = "button" class = "btn m-2 text-dark" data-filter = ".best">Best Sellers</button>
              <button type = "button" class = "btn m-2 text-dark" data-filter = ".feat">Featured</button>
              <button type = "button" class = "btn m-2 text-dark" data-filter = ".new">New Arrival</button>
          </div>

          <div class = "collection-list mt-4 row gx-0 gy-3">
            {% for item in products %}
              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                  <div class = "collection-img position-relative">
                      <img src = "{{ item.product_image.url }}" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">{{item.name}}</p>
                      <span class = "fw-bold">$ {{ item.selling_price }}</span>
                  </div>
              </div>
            {% endfor %}

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-1.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Biliotheque</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 new">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-3.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Dunas de un</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images\product-item-3.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Cueropo Eau</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-5.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Blanche parfum</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 new">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-6.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Tuscan Creations</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 best">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-7.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Terra Rossa</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>

              <div class = "col-md-6 col-lg-4 col-xl-3 p-2 feat">
                  <div class = "collection-img position-relative">
                      <img src = "{% static 'images/product-item-8.jpg' %}%" class = "w-100">
                      <span class = "position-absolute bg-primary text-white d-flex align-items-center justify-content-center">sale</span>
                  </div>
                  <div class = "text-center">
                      <div class = "rating mt-3">
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                          <span class = "text-primary"><i class = "fas fa-star"></i></span>
                      </div>
                      <p class = "text-capitalize my-1">Toilette</p>
                      <span class = "fw-bold">$ 45.50</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>